{% extends "layout1.html"%}
{% block content %}
	<div class="content-section">
		<h1 style="color:white; font-weight: 900;" class="content-title">About us</h1>
		<p style="color:white;  ">Machine translation (henceforth referred as MT) is important for breaking the language barrier and facilitating inter-lingual communication. For a multilingual country like INDIA which is largest democratic country in whole world, there is a big requirement of automatic machine translation system. </p>
		<p style="color:white;  ">Indian languages share a lot of similarity in terms of script, phonology, language syntax, etc. With the advent of Information Technology many documents and web pages are coming up in a local language so there is a large need of good MT systems to address all these issues in order to establish a proper communication between states and union governments to exchange information amongst the people of different states.</p>
		<p style="color:white; text-align: center; font-style:italic
		 "><br><br>Done by: <br>ADITYA PODDAR (1PE16CS007)<br>
			NIKETHA A (1PE16CS093)<br>
			SANJANA K RAO (1PE16CS142)<br>
			KEERTHIRAJ H L (1PE17CS407)
			</p>
	</div>
{% endblock content%}